

body::-webkit-scrollbar{
    width: 0px;
    
}
*{
    scrollbar-width: 0px;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    margin: 0;
    margin-bottom: 40px;
}

.NavegadorP{
    width: 100%;
    height: 80px;
    top: 0;
    background-color: #472929;
    display: flex;
    position: fixed;
    z-index: 1;
    filter: drop-shadow(0px 13px 16px rgba(0, 0, 0, 0.40));
}

.Logosi{
    margin-right: 20%;
    margin-left: 5%;
    height: 67px;
    margin-top:5px ;
}

.ListaNav{
    list-style: none;
    display: flex;
    padding-left: -1px;
    margin-left: 20%;
    margin-right: 15%;
   
}

li{    
    display: flex;
    margin: 3% 7%;
}

.Video1{
    margin-top: -30px;
    width: 100%;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
    filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.35));
}
.TituloVid{
    left: 40%;
    padding-top: 8%;
    margin-bottom: 40%;
    position:relative;
    z-index: 0;
}

.Section1{
    position: relative;
    width: 100%;
}

.TituloRe{
    font-size: 100px;
    font-weight: 100;
    margin: 0.5% 0;
    text-align: center;
}
.TituloPa{
    font-size: 100px;
    font-weight: 100;
    margin: 5% 0 0.5% 0;

    text-align: center;
}
.TituloPi{
    font-size: 100px;
    font-weight: 100;
    margin: 0.5% 0 0.5% 0;

    text-align: center;
}

.TituloVi{
    font-size: 100px;
    font-weight: 100;
    margin: 0.5% 0 0.5% 0;

    text-align: center;
}

.TituloPo{
    font-size: 100px;
    font-weight: 100;
    margin: 0.5% 0 0.5% 0;

    text-align: center;
}

.Section2{
    display: flex;
    justify-content: space-evenly;
    padding: 0 12%;

}

.Prod1, .Prod2, .Prod3{
    margin-left: 2%;
    line-height: 63.6%;
    margin-top: 6%;
    font-size:65px;
    font-weight: 100;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
}
.Prod4, .Prod5, .Prod6{
    margin-left: 2%;
    line-height: 63.6%;
    margin-top: 6%;
    font-size:65px;
    font-weight: 100;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
}
.Prod7, .Prod8, .Prod9{
    margin-left: 2%;
    line-height: 63.6%;
    margin-top: 6%;
    font-size:65px;
    font-weight: 100;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
}
.Prod10, .Prod11, .Prod12{
    margin-left: 2%;
    line-height: 63.6%;
    margin-top: 6%;
    font-size:65px;
    font-weight: 100;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
}
.Prod13, .Prod14, .Prod15{
    margin-left: 2%;
    line-height: 63.6%;
    margin-top: 6%;
    font-size:65px;
    font-weight: 100;
    text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.25);
    position: absolute;
}

.DescripP1, .DescripP2, .DescripP3{
    margin-top: 124%;
    padding: 2% 3%;
    background-color: #472929;
    height: 40%;
    width:  100%;
    color: white;
} 

.ContenedorBut{
    width: 100%;
    height: 250px;
    margin-top: 1.8%;
    padding-top: 8%;
    
}
.ButtVer1{
    background-color: #472929;
    border-radius: 15px;
    padding: 2% 5%;
    margin-left: 41.6%;
    color: white;
    font-weight: bold;
    box-shadow: 0px 8px 7px rgba(0, 0, 0, 0.25);
    
}

.PQuien{
    width: 100%;
    height: 250px;

    text-align: center;
}

.TitleQuien{
    font-size: 100px;   
    margin-bottom: 2%;
    font-weight: 100;
}

.txtQuien{
    font-size: 24px;
}

.Slogan{
    margin-top: 2%;
    font-size: 100px;
    font-weight: 100;
}

.Piecito{
    background-color: #472929;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 150px;
    top: 104%;
    color: white;
    justify-content: center;
    padding: 0.5% 0;
    font-family: 'Roboto';
    font-size: 20px;
}
.ListaCon{
    margin: 0 2%;
}

.TarjetaProd1{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd2{
    background-image: url(../imagenes/pizzas/pexels-vincent-rivaud-2471171.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));

    border-radius: 5px;
    
}
.TarjetaProd3{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd4{
    background-image: url(../imagenes/espagetis/pexels-jackie-王-5203691.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd5{
    background-image: url(../imagenes/espagetis/pexels-anthony-leong-2092906.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd6{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd7{
    background-image: url(../imagenes/pizzas/pexels-victor-miyata-3682837.jpg);
    background-size: 500px 450px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd8{
    background-image: url(../imagenes/pizzas/pexels-vincent-rivaud-2471171.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd9{
    background-image: url(../imagenes/pizzas/pexels-pixabay-262977.jpg);
    background-size: 450px 500px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd10{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd11{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd12{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd13{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd14{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}
.TarjetaProd15{
    background-image: url(../imagenes/espagetis/pexels-rachel-claire-4825746.jpg);
    background-size: 280px;
    background-repeat: no-repeat;
    width: 280px;
    height: 500px;
    filter: drop-shadow(10px 4px 10px rgba(0, 0, 0, 0.25));
    border-radius: 5px;
}









































a{
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 30px;
    color: #C4A665;
    font-weight: 450;
}

h1{
    font-family: 'Ramadhan Mubarak';
    color: #C4A665;
}

p{
    font-size: 17px;
    font-family: 'Roboto';
}