

body::-webkit-scrollbar{
    width: 0px;
    
}
*{
    scrollbar-width: 0px;
}
html{
    min-height: 100%;
    position: relative;
}
body{
    margin: 0;
    margin-bottom: 40px;
}

.NavegadorP{
    width: 100%;
    height: 80px;
    top: 0;
    background-color: #472929;
    display: flex;
    position: fixed;
    z-index: 2;
    filter: drop-shadow(0px 13px 16px rgba(0, 0, 0, 0.40));
}

.Logosi{
    width: 117px;
    height: 67px;
    margin-right: 19.6%;
    margin-left: 5%;
    margin-top:5px;
}

.ListaNav{
    list-style: none;
    display: flex;
    padding-left: -1px;
    margin-left: 20%;
    margin-right: 15%;
   
}

li{    
    display: flex;
    margin: 3% 7%;
}

.Piecito{
    background-color: #472929;
    display: flex;
    position: absolute;
    bottom: 0;
    width: 100%;
    
    min-height: 15vh;
    color: white;
    justify-content: center;
    padding: 0.5% 0;
    font-family: 'Roboto';
    font-size: 20px;
    
}
.ListaCon{
    width: 20vh;
    margin: 2vh 3vh;
}
.ListaTer{
    margin-top: 2vh;
    margin-left: -5vh;
    width: 45vh;
}

.FP{
    width: 100%;
    height: 110vh;
    position: absolute;
    object-fit:cover;
    left: 0;
    top: 0;
    z-index: 0;
    filter: drop-shadow(0px 13px 5px rgba(0, 0, 0, 0.35));

}

.ContenDescrip{
    width: 500px;
    height: 220px;
    margin: 30% 0 0 74%;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 5px;
    position: relative;
    z-index: 1;
}

.TitFet1{
    margin: 5% 2% 0 4%;
    color: #472929;
    font-weight: lighter;
    font-size: 70px;
}

.DrescripFet1{
    width: 300px;
    margin: 0 0 0 5%;
    padding: 0 0 5% 0;
    font-size: 17px;
    color: #472929;

}

.PadreProd{
    width: 100%;
    display: flex;
    margin-left: 12vh;
    margin-top: 26vh;
    margin-bottom: 150px;
    flex-flow: row wrap;
    padding: 20px 12%;
    
    
}

.Prod1{
    height: 290px;
    width: 470px;
    background-color: #F1F4F7;
    margin: 10px 30px;
    padding: 10px 15px 2px 15px;
    
    border-radius: 10px;
    
}

.Img1{
    width:200px;
    float: right;
    border-radius: 10px;  
    height: 100%;
    object-fit: cover;
}

.Mask{
    overflow: hidden;
    height: 95%;
    float: right;
    border-radius: 15px;
    width: 50%;
}
.izq{
    float: left;
    width: 50%;
}

.tit1{
    line-height: 40px;
    font-weight: lighter;
    font-size: 60px;
    margin-bottom: 8px;
    
}

.p1{
    width: 200px;
    color: #472929;
    font-weight: bold;
    
    font-family: Roboto;
    font-size: 17px;
    
}




































@font-face {
    font-family: "Ramadhan Mubarak";
    src: url("/Fuente/Ramadhan Mubarak.ttf") format("truetype");
  }

a{
    font-family: 'Roboto';
    text-decoration: none;
    font-size: 30px;
    color: #C4A665;
    font-weight: 450;
}

h1, h2{
    font-family: 'Ramadhan Mubarak';
    color: #C4A665;
}

p{
    font-size: 17px;
    font-family: 'Roboto';
}